* {
  box-sizing: border-box;
}

body {
  background-color: #292524;
  color: #fafaf9a6;
  padding: 48px 64px;
}

.hidden {
  display: none !important; /* importanat 可以讓此 property 變得更優先，不被其他覆蓋*/
}

p {
  font-size: 18px;
}

h1 {
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Coiny";
  color: #fafaf9df;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo img {
  width: 68px;
  height: 68px;
}

/* MAIN LAYOUT */
#root {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 16px;
}

@media (max-width: 900px) {
  .main {
    grid-template-columns: 1fr;
  }
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  font-family: "Sono", sans-serif;
  margin-bottom: 10px;
  background-color: #fafaf91a;
  padding: 14px;
  padding-left: 20px;
  border-radius: 35px;
  display: flex;
  align-items: center;
  gap: 24px;
}

@media (max-width: 1200px) {
  .fact {
    flex-direction: column;
    align-items: flex-end;
    /* gap: 12px; */
  }
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Coiny";
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

.vote-buttons {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  gap: 6px;
}

.vote-buttons button {
  border: none;
  background-color: #57534e;
  color: inherit;
  border-radius: 100px;
  font-size: 12px;
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
  padding: 10px;
  transition: 0.25s;
}

.vote-buttons button:hover {
  background-color: #292524;
}

ul {
  list-style: none;
  padding: 0;
}

.source:link,
.source:visited {
  color: #a8a29e4b;
  text-decoration: none;
  margin-left: 12px;
  transition: 0.25s;
}

.source:hover,
.source:active {
  color: #3b82f6;
}

.btn {
  border: none;
  font-family: "Coiny", sans-serif;
  line-height: 1;
  text-transform: uppercase;
  font-size: 17px;
  padding: 16px 0 13px;
  background-image: linear-gradient(135deg, #3b82f6, #14b8a6);
  color: inherit;
  border-radius: 1ch;
}

.btn:hover {
  transform: scale(110%) rotate(-2deg);
  transition: 0.2s;
}

.btn-all-categories {
  width: 100%;
  margin-bottom: 32px;
}

.btn-category {
  background-image: none;
  width: 100%;
}

.category {
  margin-bottom: 12px;
}

.fact-form {
  background-color: #fafaf91a;
  padding: 16px;
  font-family: "Sono", sans-serif;
  display: flex;
  gap: 16px;
  border-radius: 15px;
  align-items: center;
  /* justify-content: space-between; */
}

.fact-form input,
.fact-form select {
  width: 220px;
  background-color: #57534e;
  border: none;
  border-radius: 100px;
  padding: 16px;
  color: inherit;
  font-family: inherit;
}

.fact-form input::placeholder {
  color: #a8a29e4b;
}

.fact-form input:first-child {
  flex-grow: 1;
}

@media (max-width: 900px) {
  body {
    padding: 32px 48px;
  }

  .fact-form {
    flex-direction: column;
    align-items: stretch;
  }

  .fact-form input,
  .fact-form select {
    width: auto;
  }
}
